.Btn {
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.Btn-primary {
    background-color: #cc421e;
}

.Btn-primary:hover {
    background-color: #db461f;
}