.Members-list {
    background: #ff663d;
    height: 140px;
}

.Members-container {
    padding:20px;
}

.Members-image {
    float: left;
    display: inline;
    margin-left: 40px;
}

.Members-desc {
    margin-left: 80px;
    float: left;
    text-align: left;
    display: inline;
    color: #000;
}

.Members-left {
    width: 200px;
    padding-bottom: 25px;
}

.Members-right {
    width: 200px;
    padding-bottom: 25px;
}