.Profile {
    margin-top: 10px;
}

.Profile-bg {
    background: #ff663d;
    height: 280px;
}

.Profile-container {
    padding: 0 35px;
}

.Profile-image {
    float: left;
    display: inline;
    margin-top: 30px;
}

.Profile-desc {
    margin-left: 80px;
    float: left;
    text-align: left;
    display: inline;
    color: #000;
}

.Profile-desc-left {
    width: 100px;
    padding-bottom: 20px;
}

.Profile-desc-right {
    width: 200px;
    padding-bottom: 20px;
}